:root{
    --color: #ff5400;
    --color-white:#ffffff;
    --color-link-hover: #ffa700;
    --color-very-light: #b7b7b7;
    --color-light: #909090;
    --color-medium-light: #6d6d6d;
    --color-medium: #3d3d3d;
    --color-medium-dark: #323232;
    --color-dark: #272727;
    --color-very-dark: #1d1d1d;
    --color-ultra-dark: #101010;
    --color-blue: #3483ff;
    --color-dislike: #ff0a4e;
    --color-bg-dislike: rgba(255,10,78,.15);
    --color-like: #6dd432;
    --color-bg-like: rgba(109,212,50,.15);
}